@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* theme variable  */
@theme {
  /* brand */
  --color-primary: #86EFAC; /* brand color */
  --color-brand-contrast: black; /* black or white based on brand color for button and links which background is brand color */

  /* text */
  --color-light-secondary-text: #505050; /* softer text for subtitles in light theme */
  --color-dark-secondary-text: #cccccc; /* softer text for subtitles in dark theme */

  /* background */
  --color-light-bg: #fff; /* background color in light theme */
  --color-dark-bg: #030303; /* background color in dark theme */

  /* devider/border */
  --color-light-devider: #606060; /* devider color in light theme */
  --color-dark-devider: #aaaaaa; /* devider color in light theme */

  /* utilities */
  --default-transition-duration: 0.5s; /* transition speed */
  --breakpoint-md: 40rem;
  /* --breakpoint-xs: 30rem; */
}

/* fonts */
@font-face {
  font-family: "FunnelDisplay";
  src: url("../fonts/FunnelDisplay-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "FunnelDisplay";
  src: url("../fonts/FunnelDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "FunnelDisplay";
  src: url("../fonts/FunnelDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "FunnelDisplay";
  src: url("../fonts/FunnelDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

body {
  font-family: "FunnelDisplay", sans-serif;
}