@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* template varribale */
:root {
  --primary: #8CEFAC;
  --primary-foreground: black;
  --box: #00000010;
  --background: #FFFFFF;
  --secondary-text: #505050;
}
/* template varribale for dark mode */
.dark {
  --box: #FFFFFF10;
  --background: #030303;
  --secondary-text: #CCCCCC;
}

/* tailwindcss theme variable */
@theme {
  --color-primary: var(--primary); /* brand color */
  --color-primary-foreground: var(--primary-foreground); /* black or white based on brand color for button and links which background is brand color */
  --color-secondary-text: var(--secondary-text); /* secondary text */
  --color-background: var(--background); /* background */
  --color-box: var(--box);  /* box background */
  --default-transition-duration: 0.5s; /* transition speed */
}

/* import fonts: light, regular, medium, semibold and bold */
@font-face {
  font-family: "Sora";
  src: url("../fonts/Sora-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Sora";
  src: url("../fonts/Sora-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Sora";
  src: url("../fonts/Sora-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Sora";
  src: url("../fonts/Sora-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

body {
  font-family: "Sora", sans-serif;
}